# Ambiente virtual
.venv/

# Dados (não versionar)
dados_ans/
dados_extraidos/
dados_despesas_sinistros/
dados_normalizados/
dados_consolidados/
dados_validados/
dados_enriquecidos/
dados_agregados/

# Arquivos temporários
__pycache__/
*.pyc
